{% extends 'migrate/base.html' %}
{% load static %}

{% block head %}
    <title>Saavn To Spotify</title>

    <style type="text/css">
        .wizard-container {
            padding-top: 50px;
        }

        .wizard-card .tab-content {
            min-height: 250px;
        }

        @keyframes ldio-e57ziioisa9 {
            0% { transform: rotate(0) }
            100% { transform: rotate(360deg) }
        }
        .ldio-e57ziioisa9 div { box-sizing: border-box!important }
        .ldio-e57ziioisa9 > div {
            position: absolute;
            width: 136px;
            height: 136px;
            top: 32px;
            left: 32px;
            border-radius: 50%;
            border: 8px solid #000;
            border-color: #014c86 transparent #014c86 transparent;
            animation: ldio-e57ziioisa9 2s linear infinite;
        }

        .ldio-e57ziioisa9 > div:nth-child(2), .ldio-e57ziioisa9 > div:nth-child(4) {
            width: 116px;
            height: 116px;
            top: 42px;
            left: 42px;
            animation: ldio-e57ziioisa9 2s linear infinite reverse;
        }
        .ldio-e57ziioisa9 > div:nth-child(2) {
            border-color: transparent #008fd4 transparent #008fd4
        }
        .ldio-e57ziioisa9 > div:nth-child(3) { border-color: transparent }
        .ldio-e57ziioisa9 > div:nth-child(3) div {
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(45deg);
        }
        .ldio-e57ziioisa9 > div:nth-child(3) div:before, .ldio-e57ziioisa9 > div:nth-child(3) div:after {
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            top: -8px;
            left: 56px;
            background: #014c86;
            border-radius: 50%;
            box-shadow: 0 128px 0 0 #014c86;
        }
        .ldio-e57ziioisa9 > div:nth-child(3) div:after {
            left: -8px;
            top: 56px;
            box-shadow: 128px 0 0 0 #014c86;
        }

        .ldio-e57ziioisa9 > div:nth-child(4) { border-color: transparent; }
        .ldio-e57ziioisa9 > div:nth-child(4) div {
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(45deg);
        }
        .ldio-e57ziioisa9 > div:nth-child(4) div:before, .ldio-e57ziioisa9 > div:nth-child(4) div:after {
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            top: -8px;
            left: 46px;
            background: #008fd4;
            border-radius: 50%;
            box-shadow: 0 108px 0 0 #008fd4;
        }
        .ldio-e57ziioisa9 > div:nth-child(4) div:after {
            left: -8px;
            top: 46px;
            box-shadow: 108px 0 0 0 #008fd4;
        }
        .loadingio-spinner-double-ring-mfdp5bfmb1 {
            width: 200px;
            height: 200px;
            display: inline-block;
            overflow: hidden;
            background: none;
        }
        .ldio-e57ziioisa9 {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0; /* see note above */
        }
        .ldio-e57ziioisa9 div { box-sizing: content-box; }
        /* generated by https://loading.io/ */
    </style>
{% endblock %}

{% block body %}

    <div class="image-container set-full-height"
         style="background-image: url({% static 'migrate/img/img.jpg' %})">
        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizardProfile">
                            <form action="" method="">
                                <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                        <span style="color: #2bc5b4">JIOSAAVN</span> TO <span style="color: #74c26a">SPOTIFY</span>
                                    </h3>
                                    <h5>3 simple steps to import your Saavn playlist to Spotify..</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul>
                                        <li><a href="#step1" data-toggle="tab">Step 1</a></li>
                                        <li><a href="#step2" data-toggle="tab">Step 2</a></li>
                                        <li><a href="#step3" data-toggle="tab">Step 3</a></li>
                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane" id="step1">
                                        <div class="row">
                                            <h4 class="info-text"> Paste the <strong
                                                    style="color: #2bc5b4">JioSaavn</strong> playlist link here <br>
                                                that you want to add to Spotify.</h4>
                                            <div class="col-sm-10 col-sm-offset-1">
                                                <div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">link</i>
													</span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Playlist Link
                                                            <small>(required)</small>
                                                        </label>
                                                        <input id="playlistLink" type="url" class="form-control" required autofocus>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step2">
                                        <h4 class="info-text"> Authorize <strong style="color: #74c26a">SPOTIFY</strong> to add playlist to your account.
                                            <br>
                                            And paste the link after authorization below.
                                        </h4>
                                        <div class="info-text">
                                            <div class="form-group label-floating">
                                                <input type="button" class="btn btn-fill btn-warning btn-wd" value="Authorize" onclick="loginSpotify()">
                                            </div>
                                        </div>
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">link</i>
													</span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Paste the link here...
                                                    </label>
                                                    <input id="tokenLink" type="text" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step3">
                                        <div class="row" id="lastStep">
                                            <div class="col-sm-12">
                                                <h4 class="info-text">Just click on Import and the playlist will be on Spotify</h4>
                                            </div>
                                            <div class="info-text">
                                                <div class="form-group label-floating">
                                                    <input id="importbtn" type="button" class="btn btn-fill btn-primary btn-wd" value="Import"
                                                           onclick="importPlaylist()">
                                                </div>
                                                <div class="loadingio-spinner-double-ring-mfdp5bfmb1" id="loader" style="display: none">
                                                    <div class="ldio-e57ziioisa9">
                                                    <div></div>
                                                    <div></div>
                                                    <div><div></div></div>
                                                    <div><div></div></div>
                                                </div></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <h4 class="info-text" style="display: none;" id="success-message"><strong style="color: green;">Hooray...!</strong>
                                                <br> Playlist imported successfully. Click
                                                <a target="_blank" href="https://open.spotify.com/collection/playlists">here</a> to check.</h4>
                                            <h4 class="info-text" style="display: none;" id="error-message"><strong style="color: red">Oh Hoh...!</strong>
                                                <br> Unable to import playlist. Please try again.</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-success btn-wd'
                                               name='next' id="next" value='Next'/>
{#                                        <input type='button' class='btn btn-finish btn-fill btn-success btn-wd'#}
{#                                               name='finish' value='Finish'/>#}
                                    </div>

                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd'
                                               name='previous' value='Previous'/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div><!-- end row -->
        </div> <!--  big container -->

        <div class="footer">
            <h5 class="container text-center">
                Developed by <a target="_blank" href="https://github.com/pranshujain22">
                <strong>Pranshu Jain <i class="fa fa-github"></i></strong></a>
            </h5>
        </div>
    </div>

    <script>

        var playlist_input = document.getElementById("playlistLink");
        playlist_input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                {#event.preventDefault();#}
                document.getElementById('next').click();
            }
        });

        var token_input = document.getElementById("tokenLink");
        token_input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                {#event.preventDefault();#}
                document.getElementById('next').click();
            }
        });

        function loginSpotify() {
            var auth_endpoint = null;
            $.ajax({
                type: 'GET',
                url: '{% url 'migrate:getAuthDetails' %}',
                success: function (data) {
                    console.log(data);
                    auth_endpoint = data['auth_endpoint'];
                    var popup = window.open(auth_endpoint, 'Login with Spotify', 'width=800,height=600');
                },
                error: function (data) {
                    console.log(data);
                    alert("Something went wrong!");
                }
            });

        }

        function importPlaylist() {
            var playlistLink = document.getElementById('playlistLink').value;
            var token = document.getElementById('tokenLink').value.substr(1).split("&")[0].split("=")[1];

            document.getElementById('loader').style.display = 'inline-block';
            document.getElementById('importbtn').style.display = 'none';
            document.getElementById('success-message').style.display = 'none';
            document.getElementById('error-message').style.display = 'none';

            $.ajax({
                type: 'GET',
                url: 'https://api.spotify.com/v1/me',
                data: {
                    'token': this.token
                },
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (data) {
                    console.log(data);
                    this.id = data['id'];
                    console.log(this.id);
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'migrate:importPlaylist' %}',
                        data: {
                            'id': this.id,
                            'playlistLink': playlistLink,
                            'token': token
                        },
                        success: function (data) {
                            console.log(data);
                            document.getElementById('loader').style.display = 'none';
                            document.getElementById('importbtn').style.display = 'inline-block';
                            document.getElementById('lastStep').style.display = 'none';
                            document.getElementById('success-message').style.display = 'block';
                        },
                        error: function (data) {
                            console.log(data);
                            document.getElementById('loader').style.display = 'none';
                            document.getElementById('importbtn').style.display = 'inline-block';
                            document.getElementById('error-message').style.display = 'block';
                        }
                    });
                },
                error: function (data) {
                    console.log(data);
                    document.getElementById('loader').style.display = 'none';
                    document.getElementById('importbtn').style.display = 'inline-block';
                    document.getElementById('error-message').style.display = 'block';
                }
            });
        }
    </script>

{% endblock %}
