{% extends 'migrate/base.html' %}
{% load static %}

{% block head %}
    <title>Spotify Auth</title>

    <style>
        a:hover {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <!--   Big container   -->
    <div class="container">
        <div class="row">
            <h3 class="text-darker" id="text"><strong>
                Click <a onclick="f()">here</a> to copy the link and paste it in the main window.</strong></h3>
        </div><!-- end row -->
    </div> <!--  big container -->

    <script>
    function f() {
        var copyText = document.createElement('textarea');
        copyText.value = window.location.href;
        document.body.appendChild(copyText);
        copyText.select();
        document.execCommand('copy');
        document.body.removeChild(copyText);
        window.close();
    }

    </script>
{% endblock %}
